@function calc-rem($px) {
    @return $px / 16 + rem;
  }

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc-rem(80);
    margin: calc-rem(80) calc-rem(170);
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0 calc-rem(30);
    font-size: calc-rem(80);
    font-weight: calc-rem(80);
}
.services-title img{
    padding: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc-rem(20);
    padding: calc-rem(60);
    border-radius: calc-rem(10);
    border: calc-rem(2) solid white;
    transition: 0.4s;
    cursor: pointer;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc-rem(40);
    margin-bottom: calc-rem(80);
}
.services-format h3{
    font-size: calc-rem(28);
    font-weight: 600;
}
.services-format h2{
    font-size: calc-rem(38);
    font-weight: 800;
    background: linear-gradient(267deg, #05E8BA 0.36%, #087EE1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: white;
    font-size: calc-rem(24);
    line-height: calc-rem(40);
    max-width: calc-rem(300);
}
.services-readmore{
    display: flex;
    gap: calc-rem(20);
    align-items: center;
    margin-top: calc-rem(20);
}
.services-format:hover{
    border: calc-rem(2) solid #087EE1;
    background-image: linear-gradient(45deg, #000B18, #00264D);
    transform: scale(1.05);
    transition: 0.4s;
}