@function calc-rem($px) {
    @return $px / 16 + rem;
  }

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc-rem(80);
    margin: calc-rem(80) calc-rem(170);
}
.projects-title{
    position: relative;
}
.projects-title h1{
    padding: calc-rem(0) calc-rem(30);
    font-size: calc-rem(80);
    font-weight: 600;
}
.projects-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc-rem(40);
}
.projects-container img{
    box-sizing: border-box;
    width: calc-rem(600);
    height: calc-rem(420);
    transition: 0.3s;
    cursor: pointer;
}
.projects-container img:hover{
    transform: scale(1.10);
    border: calc-rem(4) solid #087EE1;
    border-radius: calc-rem(10);
    transition: 0.3s;
}
.projects-showmore{
    display: flex;
    gap: calc-rem(15);
    border-radius: calc-rem(50);
    border: calc-rem(2) solid #D8D8D8;
    padding: calc-rem(30) calc-rem(60);
    font-size: calc-rem(22);
    font-weight: 500;
    margin-bottom: calc-rem(80);
    transition: 0.6s;
    cursor: pointer;
}
.projects-showmore:hover{
    gap: calc-rem(30);
    transition: 0.6s;
}