@function calc-rem($px) {
    @return $px / 16 + rem;
  }

.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc-rem(80);
    margin: calc-rem(80) calc-rem(170);
}
.games-title{
    position: relative;
}
.games-title h1{
    padding: 0 calc-rem(30);
    font-size: calc-rem(80);
    font-weight: calc-rem(80);
}
.video-component{
    width: 100%;
    margin-top: calc-rem(-20);
}

@media(max-width: calc-rem(768)){
    .games{
        gap: calc-rem(50);
        margin: calc-rem(50) calc-rem(70);
    }
    .games-title h1{
        font-size: calc-rem(50);
        padding: 0;
        width: 130%;
        margin-left: calc-rem(-20);
        margin-bottom: calc-rem(40);
    }
    .video-component{
        width: 130%;
    }
}