@function calc-rem($px) {
    @return $px / 16 + rem;
  }

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc-rem(35)
}
.hero img{
    margin-top: calc-rem(150);
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: calc-rem(90);
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, #05E8BA 10%, #087EE1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: calc-rem(24);
    line-height: calc-rem(40);
}
.hero p span{
    background: linear-gradient(270deg, #05E8BA 10%, #087EE1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: calc-rem(25);
    font-size: calc-rem(24);
    font-weight: 500;
    line-height: calc-rem(50);
}
.hero-connect{
    padding: calc-rem(25) calc-rem(45);
    border-radius: calc-rem(50);
    background: linear-gradient(264deg, #05E8BA -5.09%, #087EE1 100%);
    cursor: pointer;
}
.hero-resume{
    padding: calc-rem(25) calc-rem(75);
    border-radius: calc-rem(50);
    border: calc-rem(2) solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
    border: calc-rem(2) solid white;
}
.hero-resume:hover{
    border-color: #087EE1;
}
.video-section{
    width: 70%;
}