@function calc-rem($px) {
    @return $px / 16 + rem;
  }

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc-rem(35);
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: calc-rem(90);
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, 
    #05E8BA, 
    #087EE1, 
    #05E8BA, 
    #087EE1,
    #06C8C6);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 8s ease infinite;
}
.type-animation{
    text-align: center;
    font-size: calc-rem(54);
    font-weight: 500;
    margin-top: calc-rem(30);
    margin-bottom: calc-rem(-10);
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: calc-rem(32);
    line-height: calc-rem(40);
}
.hero p span{
    background: linear-gradient(270deg, 
    #05E8BA, 
    #087EE1, 
    #05E8BA, 
    #087EE1,
    #06C8C6);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 8s ease infinite;
    font-weight: 600;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: calc-rem(25);
    font-size: calc-rem(24);
    font-weight: 500;
    line-height: calc-rem(50);
    margin-bottom: calc-rem(100);
}
.hero-connect{
    padding: calc-rem(25) calc-rem(45);
    border-radius: calc-rem(50);
    background: linear-gradient(270deg, 
    #07B3CE, 
    #0793D9, 
    #07B3CE, 
    #06D3C2);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
    cursor: pointer;
}
.hero-resume{
    padding: calc-rem(25) calc-rem(75);
    border-radius: calc-rem(50);
    border: calc-rem(2) solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
    border: calc-rem(2) solid white;
}
.hero-resume:hover{
    border-color: #087EE1;
}
.video-section{
    width: 70%;
}

@keyframes gradient {
    0%,
    100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

@media(max-width: calc-rem(768)){
    .hero img{
        margin-top: calc-rem(-20);
        margin-bottom: calc-rem(80);
        width: calc-rem(150);
    }
    .hero h1{
        margin-top: calc-rem(70);
        width: calc-rem(500);
        font-size: calc-rem(50);
    }
    .hero p{
        width: 80%;
        font-size: calc-rem(22);
        line-height: calc-rem(32);
        margin: calc-rem(-100) calc-rem(0);
    }
    .type-animation{
        font-size: calc-rem(32);
        margin-top: calc-rem(15);
        margin-bottom: calc-rem(-15);
    } 
    .hero-action{
        gap: calc-rem(16);
        font-size: calc-rem(18);
        font-weight: 500;
        margin-bottom: calc-rem(100);
        margin-top: calc-rem(80);
    }
    .hero-connect{
        padding: calc-rem(10) calc-rem(15);
        border-radius: calc-rem(40);
    }
    .hero-resume{
        padding: calc-rem(10) calc-rem(30);
        border-radius: calc-rem(40);
    }
}