@function calc-rem($px) {
    @return $px / 16 + rem;
  }

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc-rem(80);
    margin: calc-rem(80) calc-rem(170);    
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: calc-rem(0) calc-rem(30);
    font-size: calc-rem(80);
    font-weight: 600;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-sections{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: calc-rem(80);
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: calc-rem(20);
    font-size: calc-rem(18);
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: calc-rem(20);
}
.about-skill{
    display: flex;
    gap: calc-rem(50);
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: calc-rem(150);
    font-size: calc-rem(24);
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: calc-rem(8);
    border-radius: calc-rem(50);
    background: linear-gradient(270deg, #05E8BA 10%, #087EE1 100%);
}
.about-softwares {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: calc-rem(80);
}
.about-software {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc-rem(10);
    transition: 0.5s;
}
.about-software h1{
    font-size: calc-rem(60);
    font-weight: 700;
    background: linear-gradient(270deg, #05E8BA 10%, #087EE1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-software p{
    font-size: calc-rem(18);
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-software:hover{
    transform: scale(1.12);
    transition: 0.5s;
}