@function calc-rem($px) {
    @return $px / 16 + rem;
  }

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc-rem(80);
    margin: calc-rem(80) calc-rem(170);
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: calc-rem(0) calc-rem(30);
    font-size: calc-rem(80);
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: calc-rem(150);
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: calc-rem(30);
}
.contact-left h1{
    font-size: calc-rem(60);
    font-weight: 600;
    background: linear-gradient(270deg, 
    #07B3CE, 
    #0793D9, 
    #07B3CE, 
    #06D3C2);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: calc-rem(550);
    color: #D8D8D8;
    font-size: calc-rem(20);
    line-height: calc-rem(35);
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: calc-rem(30);
    color: #D8D8D8;
    font-size: calc-rem(22);
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: calc-rem(20);
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: calc-rem(20);
}
.contact-right label{
    color: #D8D8D8;
    font-size: calc-rem(22);
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: calc-rem(680);
    height: calc-rem(60);
    padding-left: calc-rem(20);
    border-radius: calc-rem(4);
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: calc-rem(20);
}
.contact-right textarea{
    width: calc-rem(650);
    border: none;
    padding: calc-rem(25);
    border-radius: calc-rem(4);
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: calc-rem(20);
}
.contact-submit{
    border: none;
    color: white;
    border-radius: calc-rem(50);
    background: linear-gradient(270deg, 
    #07B3CE, 
    #0793D9, 
    #07B3CE, 
    #06D3C2);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
    font-size: calc-rem(22);
    font-weight: 600;
    padding: calc-rem(20) calc-rem(60);
    margin-bottom: calc-rem(50);
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width: calc-rem(768)){
    .contact{
        gap: calc-rem(40);
        margin: calc-rem(50) calc-rem(70);
        align-items: start;
    }
    .contact-title h1{
        margin-top: calc-rem(-20);
        font-size: calc-rem(50);
        padding: 0;
    }
    .contact-title img{
        width: calc-rem(130);
        right: calc-rem(-20);
    }
    .contact-left{
        display: none;
        width: 20%;
    }
    .contact-left h1{
        font-size: calc-rem(40);
    }
    .contact-left p{
        font-size: calc-rem(18);
    }
    .contact-detail{
        margin-left: calc-rem(-20);
    }
    .contact-right{
        margin-left: calc-rem(-35);
    }
    .contact-right input{
        width: 110%;
    }
    .contact-right textarea{
        width: 100%;
    }
    .contact-right button{
        margin-left: calc-rem(40);
        width: 80%;
        padding: calc-rem(20) calc-rem(30);
    }
}