@function calc-rem($px) {
    @return $px / 16 + rem;
  }

.go-back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: calc-rem(20) calc-rem(170);
    position: sticky; 
    top: calc-rem(20); 
    z-index: 1000; 
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.05) 70%);
    border: transparent;
    border-radius: calc-rem(20);
}
.nav-logo{
    display: flex;
    flex: none;
    margin-left: calc-rem(50);
}
.nav-logo img{
    width: 60%;
}
.go-back-button{
    margin-right: calc-rem(150);
}
.go-back-button p{
    font-size: calc-rem(24);
}

@media(max-width: calc-rem(1600)){
    .go-back{
        margin: calc-rem(20) calc-rem(100);
    }
    .go-back-button {
        margin-left: calc-rem(10);
    }
    .go-back-button p{
        gap: calc-rem(0);
        margin-left: calc-rem(0);
    }
}

@media(max-width: calc-rem(768)){
    .go-back{
        margin: calc-rem(10) calc-rem(20);
        position: fixed;  
        top: 0;           
        left: 0;          
        width: 90%;      
        z-index: 1000; 
    }
    .nav-logo img{
        width: 60%;
        margin-left: calc-rem(-30);
    }
    .go-back-button{
        display: block;
        position: fixed;
        right: calc-rem(50);
        top: calc-rem(2);
        margin-right: calc-rem(0);
    }
    .go-back-button p{
        font-size: calc-rem(24);
    }
}