.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    position: sticky; /* This makes the navbar stick to the top */
    top: 0; /* Makes sure it stays at the top of the viewport */
    z-index: 1000; /* Ensures it's above other content */
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #05E8BA 0.36%, #087EE1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-connect:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-menu li:hover{
    transform: scale(1.1);

    background: linear-gradient(267deg, #05E8BA 0.36%, #087EE1 102.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
    transition: 0.3s;
}
.anchor-link{
    text-decoration: none;
    color: white;
}