@function calc-rem($px) {
    @return $px / 16 + rem;
  }

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: calc-rem(20) calc-rem(170);
    position: sticky; /* This makes the navbar stick to the top */
    top: calc-rem(20); /* Makes sure it stays at the top of the viewport */
    z-index: 1000; /* Ensures it's above other content */
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 70%);
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: calc-rem(60);
    font-size: calc-rem(20);
}
.nav-connect{
    padding: calc-rem(20) calc-rem(40);
    border-radius: calc-rem(50);
    background: linear-gradient(267deg, #05E8BA 0.36%, #087EE1 102.06%);
    font-size: calc-rem(22);
    cursor: pointer;
    transition: 0.3s;
}
.nav-connect:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: calc-rem(5);
    cursor: pointer;
    transition: 0.3s;
}
.nav-menu li:hover{
    transform: scale(1.1);

    background: linear-gradient(267deg, #05E8BA 0.36%, #087EE1 102.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
    transition: 0.3s;
}
.anchor-link{
    text-decoration: none;
    color: white;
}